:root {
    --bs-blue: #63B3ED;
    --bs-indigo: #596CFF;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #F56565;
    --bs-orange: #fd7e14;
    --bs-yellow: #FBD38D;
    --bs-green: #81E6D9;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #f0f2f5;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #e91e63;
    --bs-secondary: #7b809a;
    --bs-success: #4CAF50;
    --bs-info: #1A73E8;
    --bs-warning: #fb8c00;
    --bs-danger: #F44335;
    --bs-light: #f0f2f5;
    --bs-dark: #344767;
    --bs-white: #fff;
    --bs-primary-rgb: 233, 30, 99;
    --bs-secondary-rgb: , 128, 154;
    --bs-success-rgb: 76, 175, 80;
    --bs-info-rgb: 26, 115, 232;
    --bs-warning-rgb: 251, 140, 0;
    --bs-danger-rgb: 244, 67, 53;
    --bs-light-rgb: 240, 242, 245;
    --bs-dark-rgb: 52, 71, 103;
    --bs-white-rgb: 255, 255, 255;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: , 128, 154;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: "Roboto", Helvetica, Arial, sans-serif;
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #7b809a;
    --bs-body-bg: #fff;
  }



.body{
    height: 100%;
    width: 100%;
    background-color:   #fff;
    box-sizing: border-box;
    margin: 0 auto;
}
.container {
    margin-left: 20%;
    font-family:'Times New Roman', Times, serif;
    color: black;
}
.container-fluid{ 
    width: 100%; 
    height: 100%; 
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    font-family:'Times New Roman', Times, serif;
    color: black;
    background-color: #fff;
}
.row{
    height: 100%;
}
.colmenu{
width: 20%;
height: 100%;
position: fixed;
z-index: 100;
}
.menu{
    --bs-bg-opacity: 1;
    background-color: #343a40;
    height: 100%;
    width: 100%;
    display: inline-table;
    position: absolute; 
}
.nav-link{
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb),var(--bs-text-opacity))!important;
}

.hr{
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: .25;
}
.form-hoadon{
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    height:auto;
    width: auto;
    background-color: #fff;
}
.bordermain{
   
    text-align: center;
    height: max-content;
    width: auto;
    margin-top: 10em;
    margin-bottom: 12%;
   position: relative;
  
    
}

.bordermain >p{
    font-family: 'Courier New', Courier, monospace;
}

.inputspan{
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 2%;
    
    
    
}

.inputspan > input {
    width: 60%;
    margin-right: 40%;
    background-color: #fff;
    color: rgb(7, 7, 7);
    border-radius: 15px;
    
    
    
}
.inputspan > select {
    width: 60%;
    height: 3%;
    margin-right: 40%;
    background-color: #fff;
    color: rgb(7, 7, 7);
    border-radius: 15px;
    border: solid 2px rgb(7, 7, 7); 
}

.buttonConfirm{
    margin-left: 15%;
    margin-top: auto;
}

.buttonConfirm > button {
    margin-left: 5%;
}

.colDSP{
margin-top: 20%;
}

.banner{
 font-family: 'Courier New', Courier, monospace;

}
.img-thumbnail{
    width: 70%xp auto;
    height: 400px;
}
@media screen and  (max-width: 920px) {

    .colmenu{
        display: none;
    }
} ;


/* dropdown menu css */
.dropbtn {
  background-color: #13041f;
  color: white;
  font-weight: bold;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e9d8f4;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #3e6469;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #984eca;
}