
body{
    background-image: url(../img/anh1.png);
}
#wrapper{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-login{
    max-width: 400px;
    background: rgba(20, 40, 60, 0.8);
    flex-grow: 1;
    padding: 0px 30px 50px 30px;
    box-shadow: 0px 0px 17px 2px rgba(255,255,255,0.8);
}

.form-heading{
    font-size: 25px;
    color: #f5f5f5;
    text-align: center;
    margin-bottom: 30px;
}

.form-group{
    border-bottom: 1px solid #fff;
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
}

.form-group i{
    color: #fff;
    font-size: 14px;
    padding-top: 5px;
    padding-right: 10px;
}

.form-input{
    background: transparent;
    font-size: 18px;
    border: 0;
    outline: 0;
    color: #f5f5f5;
    flex-grow: 1;
    padding-bottom: 5px;
}

.form-input::placeholder{
    color: #f5f5f5;
}

#eye i{
    padding-right: 0;
    cursor: pointer;
}
.fa-eye{
    height: auto;
}
.form-submit{
    background: transparent;
    border: 1px solid #f5f5f5;
    color: #fff;
    width: 100%;
    text-transform: uppercase;
    padding: 6px 10px;
    transition: 0.25s ease-in-out;
    margin-top: 30px;
}
.form-submit:hover{
    border: 1px solid #54a0ff;
}
a#left{
    color: #f5f5f5;
    margin-left: 10px;
    text-decoration: none;
}
a#right{
    color: #f5f5f5;
    margin-left: 10px;
    text-decoration: none;
}
.avatar{
    display: block;
    max-width:500px;
    max-height:300px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
